aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps
install-sh
.libs
libtool
libXdmcp.la
*.lo
ltmain.sh
Makefile
Makefile.in
MakeOut
missing
mkinstalldirs
stamp-h1
xdmcp.pc
*~
ChangeLog
*.o
libXdmcp-*.tar.*
*.patch
